{% extends "familyview_project/base.html" %}
{% block title %}Register Parent{% endblock %}
{% block content %}
<h1>Register Parent Account</h1>
<form method="post" class="form-group">
    {% csrf_token %}
    <input type="text" class="form-control mb-2" name="username" placeholder="Username" required>
    <input type="email" class="form-control mb-2" name="email" placeholder="Email" required>
    <input type="password" name="password" class="form-control" placeholder="Password" required
       pattern="(?=.*\d).{8,}"
       title="Password must be at least 8 characters long and include at least one number.">
    <button type="submit" class="btn btn-primary w-100">Register</button>
</form>
{% endblock %}
